<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "{{ page.title | jsonify }}",
  "description": "{{ page.description | jsonify }}",
  "url": "{{ page.url | absolute_url | jsonify }}",
  "provider": {
    "@type": "Organization",
    "name": "Tillerstead",
    "url": "https://www.tillerstead.com",
    "logo": "https://www.tillerstead.com/path-to-your-logo.png", 
    "sameAs": [
      "https://www.facebook.com/people/Tillerstead-LLC/61580414460056/",
      "https://www.thumbtack.com/nj/absecon/tile/tillerstead-llc/service/547437618353160199"
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-609-862-8808",
      "contactType": "Customer Service",
      "areaServed": "US",
      "availableLanguage": "English"
    },
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "325 E. Jimmie Leeds Road, Suite 7-333",
      "addressLocality": "Galloway",
      "addressRegion": "NJ",
      "postalCode": "08205",
      "addressCountry": "US"
    }
  },
  "serviceType": "Tile Installation, Waterproofing, Bathroom Remodeling",
  "areaServed": {
    "@type": "Place",
    "name": "South Jersey"
  },
  "additionalType": "http://www.productontology.org/id/Service"
}
</script>