{% assign footer_groups = site.data.navigation.footer %}
{% assign left_groups = footer_groups | slice: 0, 2 %}
{% assign right_groups = footer_groups | slice: 2, footer_groups.size %}
{% assign primary_nav = site.data.navigation.primary %}
{% assign secondary_nav = site.data.navigation.secondary %}

<footer>
  <img src="/assets/img/logo/optimized-logo.png" alt="Tillerstead Logo" class="footer-logo">
  <p class="footer-tagline">{{ site.tagline }}</p>
  <p class="footer-license">NJ HIC #{{ site.company.hic }}</p>
  <address class="footer-address">
    {{ site.company.address_line }}<br />
    {{ site.company.address_city }}, {{ site.company.address_region }} {{ site.company.address_postal_code }}
  </address>
  {% include navigation/main-nav.html %}
</footer>

