
img.icon,
svg.icon,
i.icon,
span.icon,
[class*="-icon"],
.fa, .fas, .far, .fab, .fal {
  max-width: 64px !important;
  max-height: 64px !important;
  width: auto !important;
  height: auto !important;
}

.icon-sm,
.icon-small {
  max-width: 24px !important;
  max-height: 24px !important;
}

.icon-md,
.icon-medium {
  max-width: 48px !important;
  max-height: 48px !important;
}

.icon-lg,
.icon-large {
  max-width: 80px !important;
  max-height: 80px !important;
}

.icon-xl {
  max-width: 120px !important;
  max-height: 120px !important;
}

.icon-wrapper,
.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

svg {
  max-width: 100%;
  height: auto;
}

.nav-icon,
header svg,
nav svg {
  width: 20px !important;
  height: 20px !important;
}

.btn svg,
.button svg,
a svg {
  width: 1em !important;
  height: 1em !important;
  vertical-align: middle;
}
