{% assign icon = include.icon | default: 'tile' %} {% assign card_id =
include.id | default: include.title | slugify %} {% assign aria_label =
include.title | prepend: 'Service card: ' %} {% capture icon_svg %} {% case icon
%} {% when 'tile', 'flooring', 'waterproof' %}
<svg
  class="ts-service-card__icon-mark ts-icon ts-icon--tile"
  viewBox="0 0 48 48"
  aria-hidden="true"
  focusable="false"
>
  <rect
    x="4"
    y="4"
    width="16"
    height="16"
    rx="2"
    class="ts-icon__stroke"
  ></rect>
  <rect
    x="28"
    y="4"
    width="16"
    height="16"
    rx="2"
    class="ts-icon__stroke"
  ></rect>
  <rect
    x="4"
    y="28"
    width="16"
    height="16"
    rx="2"
    class="ts-icon__stroke"
  ></rect>
  <path
    d="M28 28h16v8c0 3.314-2.686 6-6 6H28V28Z"
    class="ts-icon__stroke"
  ></path>
  <path d="M4 24h40M24 4v40" class="ts-icon__stroke"></path>
</svg>
{% when 'paint', 'trim', 'remodeling' %}
<svg
  class="ts-service-card__icon-mark ts-icon ts-icon--remodel"
  viewBox="0 0 48 48"
  aria-hidden="true"
  focusable="false"
>
  <path d="M6 22 24 6l18 16" class="ts-icon__stroke"></path>
  <path d="M12 22v18h10V30h4v10h10V22" class="ts-icon__stroke"></path>
  <path d="M18 38h12" class="ts-icon__stroke"></path>
</svg>
{% endcase %}
{% endcapture %}
<div class="ts-service-card" id="{{ card_id }}" aria-label="{{ aria_label }}">
  {{ icon_svg }}
  <h3 class="ts-service-card__title">{{ include.title }}</h3>
  <p class="ts-service-card__desc">{{ include.description }}</p>
  {% if include.tagline %}
    <p class="ts-service-card__tagline">{{ include.tagline }}</p>
  {% endif %}
  {% if include.details %}
    <ul class="ts-service-card__details">
      {% for detail in include.details %}
        <li>{{ detail }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if include.url %}
    <a href="{{ include.url }}" class="ts-service-card__link">Learn more</a>
  {% endif %}
</div>

