/* ============================================
<<<<<<< HEAD
   Tillerstead Theme Entry Point
   --------------------------------------------
   This file imports the main theme partial for
   tillerstead.com. Update this import if the
   theme structure changes in the future.
   ============================================ */

// Import the main theme partial
@import "../theme/_tillerstead.scss";
=======
   Deprecated Theme Entry
   This file now proxies to theme/_tillerstead.scss
   ============================================ */

@import "../theme/tillerstead";
>>>>>>> cd94431d4595c868507e3ce0fccbb2a3869edcde
