<section class="contact-options">
  <h2>Contact Options</h2>

  <p>We’d love to hear from you! You can reach us in the following ways:</p>

  <ul>
    <li>Call or Text: <a href="tel:{{ site.company.phone_link }}">{{ site.company.phone_display }}</a></li>
    <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    <li>Visit us at:
      <address>
        <strong>325 E. Jimmie Leeds Road, Suite 7-333<br>
          Galloway, NJ 08205</strong>
      </address>
    </li>
    <li>Follow us on Social Media:
      <ul>
        <li><a href="https://www.facebook.com/people/Tillerstead-LLC/61580414460056/" target="_blank">Facebook</a></li>
      </ul>
    </li>
    <li>Check out our reviews on <a
        href="https://www.thumbtack.com/nj/absecon/tile/tillerstead-llc/service/547437618353160199"
        target="_blank">Thumbtack</a></li>
    <li>License: NJ HIC #13VH10808800</li>
  </ul>
</section>